/* Error: expected "{".
 *    ,
 * 56 | =======
 *    |        ^
 *    '
 *   scss/component/_landing.scss 56:8  @import
 *   scss/component/_index.scss 2:9     @import
 *   scss/input.scss 3:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 56 \2502  =======\a    \2502         ^\a    \2575 \a   scss/component/_landing.scss 56:8  @import\a   scss/component/_index.scss 2:9     @import\a   scss/input.scss 3:9                root stylesheet';
}
