#contact{
    background-color: #2C363F;
    color: #f2f5ea;
}
.social-icon{
    height: 2rem;
    width: 2rem;
    fill: #f2f5ea;
    margin: 1rem;
}
.backtop{
    height: 3rem;
    width: 7rem;
    margin-right: auto;
    margin-left: auto;
    flex-shrink: 1;
    background-color:  rgba(231, 90, 124);
    border: none;
    margin-bottom: .5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}