
#intro {
    background-image:
    linear-gradient(to bottom, rgba(44, 54, 63, .5), rgba(231, 90, 124, .5)),
    url('../resources/images/landing.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
.mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}
h1{
    font-family: "Allura",cursive;
    color: #F2F5EA;
    animation-name: slideInLeft;
    animation-duration: .7s;
    animation-timing-function: ease-in;
}
.landing-intro{
    color: #F2F5EA;
    font-family: "Philosopher", sans-serif;
    flex: 1 1 0;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.thisred{
    height: 100vh;
}
.thisgreen{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.my-face{
    height: 8.25rem;
    width: 9.25rem;
    border-radius: 75%;
    margin: 2.2rem auto;
    display:block;
}
.my-pics{
    height: 16.5rem;
    width: 18.5rem;
    border-radius: 75%;
    margin-top: 1rem;
    border: solid 2px black;
    flex-shrink: 1;
    animation-name: moveInFromBottom;
    animation-duration: 1.5s;
}
.thispics{
    display: flex;
    justify-content: center; 
}
.emailme{
    height: 3rem;
    width: 7rem;
    margin-right: auto;
    margin-left: auto;
    flex-shrink: 1;
    background-color:  rgba(231, 90, 124);
    border: none;
    margin-bottom: .5rem;
    animation: bigBtn;
    animation-duration: 1.5s;
    animation-timing-function:ease-out;
}
.emailme:hover{
    background-color: lighten($color: rgba(231, 90, 124), $amount: 20%);
}
// Landing animations 

@keyframes slideInRight {
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20rem)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes bigBtn {
    0%{
        opacity: 0;
        transform: scale(0)
    }
    50%{
        opacity: .5;
        transform: scale(.5);
    }
    75%{
        opacity: .75;
        transform: scale(1.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes moveInFromBottom{
    0%{
        opacity: 0;
        transform: translateY(10rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}