
#intro {
    background-image:
    linear-gradient(to bottom, rgba(44, 54, 63, .5), rgba(231, 90, 124, .5)),
    url('/Users/wddep-user/Desktop/Code/Myportfolio/resources/images/alireza-attari-5kXNhroW1_Y-unsplash-min.JPEG');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
.mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}
h1{
    font-family: "Allura",cursive;
    color: #F2F5EA;
   
}
.landing-intro{
    color: #F2F5EA;
    font-family: "Philosopher", sans-serif;
    flex: 1 1 0;
}
.thisred{
    height: 100vh;
}
.thisgreen{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.my-face{
    border-radius: 75%;
    background-image: linear-gradient(to right top, #2c363f, #3f4867, #6f5285, #ae558d, #e75a7c);
}
