
#intro {
    background-image:
    linear-gradient(to bottom, rgba(44, 54, 63, .5), rgba(231, 90, 124, .5)),
    url('../resources/images/landing.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 90vh;
    margin-top: 2.5rem;
}
.mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.centerdiv{
 width: 90%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 justify-items: center;
 justify-content: center;
 align-items: center;
 align-content: center;
}
h1{
    font-family: "Allura",cursive;
    color: #F2F5EA;
    animation-name: slideInLeft;
    animation-duration: .7s;
    animation-timing-function: ease-in;
    font-size: 5rem;
    flex: 1 1 0;
}
.landing-intro{
    color: #F2F5EA;
    font-family: "Philosopher", sans-serif;
    flex: 1 1 0;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.my-face{
    border-radius: 75%;
    margin: 0 auto;
    width: 12rem;
}
.gotowork{
    height: 3.5rem;
    width: 8rem;
    margin-right: auto;
    margin-left: auto;
    flex-shrink: 1;
    background-color:  rgba(231, 90, 124);
    border: none;
    margin-bottom: .5rem;
    animation: bigBtn;
    animation-duration: 1.5s;
    animation-timing-function:ease-out;
    border-radius: 5%;
    text-decoration: none;
    text-align: center;
}
.btn-txt{
    padding-top: 1rem;
}
.emailme{
    height: 3.5rem;
    width: 8rem;
    margin-right: auto;
    margin-left: auto;
    flex-shrink: 1;
    background-color:  rgba(231, 90, 124);
    border: none;
    margin-bottom: .5rem;
    animation: bigBtn;
    animation-duration: 1.5s;
    animation-timing-function:ease-out;
    border-radius: 5%;
}
.emailme:hover{
    background-color: lighten($color: rgba(231, 90, 124), $amount: 20%);
}
// Landing animations 

@keyframes slideInRight {
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20rem)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes bigBtn {
    0%{
        opacity: 0;
        transform: scale(0)
    }
    50%{
        opacity: .5;
        transform: scale(.5);
    }
    75%{
        opacity: .75;
        transform: scale(1.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes moveInFromBottom{
    0%{
        opacity: 0;
        transform: translateY(10rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}