
.lando{
    background-image: url(/Users/wddep-user/Desktop/Code/Myportfolio/resources/images/bg600x600.jpg);
    object-fit: cover;
    width: 100%;
    background-repeat: no-repeat;
    min-height: 600px;
}