.projects{
    height: 100vh;
}
.project-card{
    background-color: #bbc7a4;
    color: #2c363f;
}













// .project7-icon{
//     display: inline-block;
//     width: 6em;
//     height: 6em;
//     overflow: hidden;
// }

// .project6-icon{
//     display: inline-block;
//     width: 6em;
//     height: 6em;
//     overflow: hidden;
// }

// .project3-icon{
//     display: inline-block;
//     width: 6em;
//     height: 6em;
//     overflow: hidden;
// }

// .project8-icon {
//     display: inline-block;
//     width: 6em;
//     height: 6em;
//     overflow: hidden;
// }