.projects{
    height: 100vh;
}














// .project7-icon{
//     display: inline-block;
//     width: 6em;
//     height: 6em;
//     overflow: hidden;
// }

// .project6-icon{
//     display: inline-block;
//     width: 6em;
//     height: 6em;
//     overflow: hidden;
// }

// .project3-icon{
//     display: inline-block;
//     width: 6em;
//     height: 6em;
//     overflow: hidden;
// }

// .project8-icon {
//     display: inline-block;
//     width: 6em;
//     height: 6em;
//     overflow: hidden;
// }