.testimonial{
    height: 50vh;
}
.testimonial-card {
    width: 100%;
    margin: 5rem auto;
    display: flex;
    align-items: center;
    background-color: #E75A7C;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    max-width: 565px;
.row{
    height: 75%;
    width: 75%;
    align-items: center;
}} 
.avatar{
    border-radius: 50%; 
    padding: .5em;
}
